---
layout: layout.liquid
title: Home
---

<h1>Latest posts</h1>

{% include 'postlist', numToDisplay: 5 %}

<a href="/archive/">See all.</a>

<ul class="links">
	<li><a href="szpugaozhiyuantianbao">深圳中考普通高中志愿填报建议戳这里！</a></li>
	<li><a href="Forty-Donuts">Read Forty Donuts!</a></li>
	<li><a href="The-Iron-Ragdoll">Read The Iron Ragdoll!</a></li>
</ul>