---
layout: layout.liquid
title: Home
---

<h1>Blog, i guess</h1>

<ol class="postList" reversed>
	{% assign postsReversed = collections.posts | reverse %}
	{% for p in postsReversed %}
		<li>
			<div>
				<a href="{{ p.url }}">{{ p.data.title }}</a>
				<div>Posted: {{ p.data.date | formatDate }}{% if p.data.edited %} | Edited: {{ p.data.edited | formatDate }}{% endif %}</div>
			</div>
		</li>
	{% endfor %}
</ol>

<p><a href="/The-Iron-Ragdoll">The Iron Ragdoll</a>, my paracosm!</p>
