---
layout: layout.vto
title: Home
---

<h1>Blog, i guess</h1>

<ol class="postList" reversed>
	{{ for p of collections.posts |> sortPosts }}
		<li>
			<div>
				<a href="{{ p.url }}">{{ p.data.title }}</a>
				<div>{{ p.data.edited || p.data.date |> formatDate }}</div>
			</div>
		</li>
	{{ /for }}
</ol>

<p><a href="/The-Iron-Ragdoll">The Iron Ragdoll</a>, my paracosm!</p>
