---
layout: layout.liquid
title: Home
---

<h1>Blog, i guess</h1>

<ol class="postList" reversed>
	{% assign posts = collections.posts | sortPosts %}
	{% for p in posts %}
		<li>
			<div>
				<a href="{{ p.url }}">{{ p.data.title }}</a>
				<div>{% if p.data.edited %}{{ p.data.edited | formatDate }}{% else %}{{ p.data.date | formatDate }}{% endif %}</div>
			</div>
		</li>
	{% endfor %}
</ol>

<p><a href="/The-Iron-Ragdoll">The Iron Ragdoll</a>, my paracosm!</p>
