---
layout: layout.vto
title: Home
---

<h1>Blog</h1>

<ol reversed>
	{{ for p of collections.posts |> sortPosts }}
		<li><a href="{{ p.url }}">{{ p.data.title }}</a></li>
	{{ /for }}
</ol>

<h1>Pages</h1>

<ul>
	{{ for p of collections.pages }}
		<li><a href="{{ p.url }}">{{ p.data.title }}</a></li>
	{{ /for }}
</ul>

<p><a href="/The-Iron-Ragdoll">The Iron Ragdoll</a>, my paracosm!</p>
