@font-face {
	font-family: Crimson Pro;
	src: url(/fonts/CrimsonPro.ttf);
}

@font-face {
	font-family: Crimson Pro;
	font-style: italic;
	src: url(/fonts/CrimsonPro-Italic.ttf);
}

@font-face {
	font-family: Platypi;
	src: url(/fonts/Platypi.ttf);
}

@font-face {
	font-family: Platypi;
	font-style: italic;
	src: url(/fonts/Platypi-Italic.ttf);
}

body {
	background-color: var(--bg);
	color: var(--text);
	font-family: Crimson Pro, 宋体;
	font-size: 28px;
	margin: 0;
}

body.dark {
	--bg: #121212;
	--text: #fff9f2;
	--link: #ffd8a8;
	--header: #83254f;
}

body.light {
	--bg: #fff9f2;
	--text: #121212;
	--link: #e56b6f;
	--header: #83254f;
}

#header {
	background-color: var(--header);
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}

#header a {
	color: #fff9f2;
}

#header .nav {
	display: flex;
	gap: 2rem;
}

p {
	text-indent: 2em;
}

a,
a:visited {
	color: var(--link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Platypi;
}

h1 {
	font-size: clamp(32px, 5vw, 48px);
}

#main {
	margin: 1em auto;
	max-width: 800px;
	padding: 0 1em;
}

p {
	line-height: 1.5;
	hyphens: auto;
	margin: .5em 0;
	text-align: justify;
}

ul {
	list-style: disc;
	padding-inline-start: 2em;
}

ul li {
	line-height: 1.5;
	margin: .5em 0;
}

#main .footnote-ref {
	vertical-align: baseline;
}

.postlist li div {
	display: flex;
	flex-direction: column;
}

.postlist li div a {
	font-size: 120%;
}

.postlist li div div {
	opacity: .5;
}

.footnotes-list {
	font-size: smaller;
}

.footnotes-list p {
	text-indent: 0;
}

.date {
	margin: 1em 0;
	opacity: .5;
}

.dpdn {
	display: inline-block;
}

.dpdn>a {
	cursor: default;
}

.dpdn-ul {
	background-color: var(--header);
	display: none;
	margin: 0;
	padding: 10px;
	position: absolute;
	z-index: 999;
	left: 0;
}

.dpdn-ul a {
	display: block;
	padding: 10px 0 !important;
}

.dpdn:hover .dpdn-ul {
	display: block;
}

p:has(.katex-display) {
	text-indent: 0;
}

.katex {
	font-size: 1em !important;
	user-select: none;
}

#theme-toggle-wrap {
	display: flex;
	justify-content: center;
}

#theme-toggle {
	background-color: var(--link);
	border-radius: 999px;
	cursor: pointer;
	height: 36px;
	padding: 4px;
	position: relative;
	transition: all .3s;
	width: 72px;
}

#button {
	align-items: center;
	background-color: var(--bg);
	border-radius: 999px;
	display: flex;
	height: 36px;
	justify-content: center;
	position: relative;
	transition: all .3s;
	width: 36px;
}

body.light #button {
	left: 0px;
}

body.dark #button {
	left: 36px;
}

#button svg {
	stroke: var(--text);
}

body.dark #button svg:first-child {
	display: none;
}

body.light #button svg:first-child {
	display: block;
}

body.dark #button svg:last-child {
	display: block;
}

body.light #button svg:last-child {
	display: none;
}

@media only screen and (max-width: 480px) {
	p {
		text-align: left;
		text-indent: 0;
	}

	ul {
		padding-inline-start: 1em;
	}
}