---
layout: layout.liquid
---
<h1>{{ title }}</h1>
<div class="date">
    <div>Posted: {{ date | formatDate }}</div>
    {% if edited %}<div>Last edited: {{ edited | formatDate }}</div>{% endif %}
</div>
{{ content }}
<div class="date">
    <div><a href="/">Home</a></div>
    <div><a href="/archive">All posts</a></div>
</div>
