---
title: "Uyghurche Keyboard Mapping"
date: 2025-08-27
---

<div class="keyboard">
	<div class="row">
		<div>چ</div>
		<div>ۋ</div>
		<div>ې</div>
		<div>ر</div>
		<div>ت</div>
		<div>ي</div>
		<div>ۇ</div>
		<div>ڭ</div>
		<div>و</div>
		<div>پ</div>
	</div>
	<div class="row">
		<div>ھ</div>
		<div>س</div>
		<div class="shift"><div>د</div><div>ژ</div></div>
		<div class="shift"><div>ا</div><div>ف</div></div>
		<div class="shift"><div>ە</div><div>گ</div></div>
		<div class="shift"><div>ى</div><div>خ</div></div>
		<div class="shift"><div>ق</div><div>ج</div></div>
		<div class="shift"><div>ك</div><div>ۆ</div></div>
		<div class="shift"><div>ل</div><div>لا</div></div>
	</div>
	<div class="row">
		<div id="shift-key">Shift</div>
		<div>ز</div>
		<div>ش</div>
		<div>غ</div>
		<div>ۈ</div>
		<div>ب</div>
		<div>ن</div>
		<div>م</div>
		<div>،</div>
		<div>.</div>
		<div>ئ</div>
	</div>
</div>